<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="10"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="com.packetproxyhub.repository.database.sqlite.SqliteDataSourceFactory">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="jdbc:sqlite:${SQLITE_FILE_PATH}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/packetproxyhub/repository/database/sqlite/AccountMapper.xml"/>
        <mapper resource="com/packetproxyhub/repository/database/sqlite/OrgMapper.xml"/>
        <mapper resource="com/packetproxyhub/repository/database/sqlite/ProjectMapper.xml"/>
        <mapper resource="com/packetproxyhub/repository/database/sqlite/ConfigMapper.xml"/>
        <mapper resource="com/packetproxyhub/repository/database/sqlite/OrgMemberMapper.xml"/>
        <mapper resource="com/packetproxyhub/repository/database/sqlite/BinaryMapper.xml"/>
        <mapper resource="com/packetproxyhub/repository/database/sqlite/SnapshotMapper.xml"/>
    </mappers>
</configuration>