<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.packetproxyhub.repository.database.sqlite.OrgMemberMapper">
    <resultMap id="test" type="com.packetproxyhub.repository.database.sqlite.dao.DaoOrgMember">
        <id property="dbId" column="dbId" />
        <result property="role" column="role" />
        <association property="id" column="id" javaType="com.packetproxyhub.repository.database.sqlite.dao.DaoId">
            <result property="id" column="id" />
        </association>
        <association property="accountId" column="accountId" javaType="com.packetproxyhub.repository.database.sqlite.dao.DaoId">
            <result property="id" column="accountId" />
        </association>
        <association property="orgId" column="orgId" javaType="com.packetproxyhub.repository.database.sqlite.dao.DaoId">
            <result property="id" column="orgId" />
        </association>
    </resultMap>
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS OrgMember (
            dbId INTEGER UNIQUE,
            id TEXT PRIMARY KEY,
            role TEXT,
            orgId TEXT REFERENCES Org(id) ON DELETE CASCADE,
            accountId TEXT REFERENCES Account(id) ON DELETE CASCADE
        )
    </update>
    <select id="selectAll" resultMap="test">
        SELECT * FROM OrgMember
    </select>
    <select id="selectByAccountId"
            parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoId"
            resultMap="test">
        SELECT * FROM OrgMember WHERE accountId = #{id}
    </select>
    <select id="select"
            parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoId"
            resultMap="test">
        SELECT * FROM OrgMember WHERE id = #{id}
    </select>
    <select id="selectByOrgId"
            parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoId"
            resultMap="test">
        SELECT * FROM OrgMember WHERE orgId = #{id}
    </select>
    <select id="selectByIds"
            parameterType="java.util.Set"
            resultMap="test">
        SELECT * FROM OrgMember WHERE id IN
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")" >
            #{id.id}
        </foreach>
    </select>
    <insert id="insert" parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoOrgMember">
        INSERT INTO OrgMember (
            dbId, orgId, id, accountId, role
        ) VALUES (
            #{dbId}, #{orgId.id}, #{id.id}, #{accountId.id}, #{role}
        )
    </insert>
    <update id="update" parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoOrgMember">
        UPDATE OrgMember SET
            accountId = #{accountId.id},
            role = #{role}
        WHERE id = #{id.id}
    </update>
    <delete id="delete" parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoId">
        DELETE FROM OrgMember WHERE id = #{id}
    </delete>
</mapper>