<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.packetproxyhub.repository.database.sqlite.ProjectMapper">
    <resultMap id="test" type="com.packetproxyhub.repository.database.sqlite.dao.DaoProject">
        <id property="dbId" column="dbId" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="content" column="content" />
        <result property="updatedAt" column="updatedAt" />
        <association property="id" column="id" javaType="com.packetproxyhub.repository.database.sqlite.dao.DaoId">
            <result property="id" column="id" />
        </association>
        <association property="orgId" column="orgId" javaType="com.packetproxyhub.repository.database.sqlite.dao.DaoId">
            <result property="id" column="orgId" />
        </association>
    </resultMap>
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS Project (
            dbId INTEGER UNIQUE,
            id TEXT PRIMARY KEY,
            name TEXT,
            description TEXT,
            content TEXT,
            updatedAt LONG,
            orgId TEXT REFERENCES Org(id) ON DELETE CASCADE
        )
    </update>
    <select id="selectAll" resultMap="test">
        SELECT * FROM Project
    </select>
    <select id="select"
            parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoId"
            resultMap="test">
        SELECT * FROM Project WHERE id = #{id}
    </select>
    <select id="selectByOrgId"
            parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoId"
            resultMap="test">
        SELECT * FROM Project WHERE orgId = #{id}
    </select>
    <insert id="insert" parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoProject">
        INSERT INTO Project (
            dbId, orgId, id, name, description, content, updatedAt
        ) VALUES (
            #{dbId}, #{orgId.id}, #{id.id}, #{name}, #{description}, #{content}, #{updatedAt}
        )
    </insert>
    <update id="update" parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoProject">
        UPDATE Project SET
            orgId = #{orgId.id},
            name = #{name},
            description = #{description},
            content = #{content},
            updatedAt = #{updatedAt}
        WHERE id = #{id.id}
    </update>
    <delete id="delete" parameterType="com.packetproxyhub.repository.database.sqlite.dao.DaoId">
        DELETE FROM Project WHERE id = #{id}
    </delete>
</mapper>